@charset "UTF-8";

@font-face {
  font-family: passion;
  src: url(fontes/0nkrC9D4IuYBgWcI9NbfTwE.woff2);
}
@font-face {
  font-family: sriracha;
  src: url(fontes/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2);
}
:root {
  --fonte-header: sriracha;
  --fonte-poema: passion;
}
html {
  margin: 0;
}
body {
  margin: 0;
}

a {
  text-decoration: inherit;
  color: white;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

header h1 {
  margin: 20px;
  font-family: var(--fonte-header);
  font-size: 7vw;
  font-weight: 400;
  padding: 30px;
  margin: 0;
}
header p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 50px;
  position: relative;
  bottom: 35px;
  letter-spacing: 1.5px;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

article p {
  font-family: var(--fonte-poema);
}

article {
  font-size: 3.8vw;
  margin-left: 0.5em;
}

div.imgfundo1 {
  background-image: url(imagens/background001.jpg);
  background-position: center center;
  background-attachment: fixed;
  padding: 10px;
}
div.imgfundo2 {
  background-image: url(imagens/background002.jpg);
  background-position: center center;
  background-attachment: fixed;
  padding: 10px;
}

p.fundocinza {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding: 10px;
  width: 45vw;
}

span {
  font-size: 10vw;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}

footer p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  padding: 5px;
}
