@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap");
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}
/* -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte1: Sriracha;
  --fonte2: Passion One;
  --fonte3: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  min-height: 100vh;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 50px;
}
header h1 {
  font-family: var(--fonte2);
  font-size: 12vw;
  font-variant: small-caps;
}
header p {
  padding-bottom: 50px;
  font-family: var(--fonte3);
}

a {
  text-decoration: inherit;
  color: white;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
}

section {
  font-size: 3.5vw;
  font-family: cursive;
  font-family: var(--fonte1);
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
}
section p {
  margin-left: 20px;
  padding-bottom: 2em;
}
section.imagem {
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
  background-attachment: fixed;
  background-position: right center;
  background-size: cover;
}
section.imagem#img01 {
  background-image: url(../imagens/background001.jpg);
}
section.imagem p {
  display: inline-block;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.363);
  background-color: rgba(0, 0, 0, 0.493);
}

section.imagem#img02 {
  background-image: url(../imagens/background002.jpg);
}

footer {
  font-family: var(--fonte3);
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
