@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
header h1 {
  font-size: 9vw;
  font-variant: small-caps;
}
header p {
  padding-top: 20px;
}
a {
  text-decoration: inherit;
  color: white;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

section {
  font-size: 4vw;
  font-family: cursive;
}
section p {
  margin: 50px 0px 75px 20px;
}
section.imagem1 {
  background-image: url(../imagens/background001.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 10px;
  box-shadow: 0px -3px 10px 1px rgba(0, 0, 0, 0.281);
}
section.imagem1 p {
  margin: 10px;
  padding: 20px;
  width: 65%;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
}

section.imagem2 {
  background-image: url(../imagens/background002.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 10px;
  box-shadow: 0px -3px 10px 1px rgba(0, 0, 0, 0.281);
}
section.imagem2 p {
  padding: 20px;
  margin: 10px;
  width: 65%;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 100px;
}
